<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/log.txt"/>
        <add key="JsonFruitFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/fruitInfo.json"/>
        <add key="JsonVegetableFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/vegetableInfo.json"/>
        <add key="JsonBerryFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/berryInfo.json"/>
        <add key="XmlFruitFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/fruitInfo.xml"/>
        <add key="XmlVegetableFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/vegetableInfo.xml"/>
        <add key="XmlBerryFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/berryInfo.xml"/>
        <add key="XmlFile" value="/home/maks/Рабочий стол/Учеба/5 семестр (.NET)/info.xml"/>
        <add key="ErrorText" value="Box can't hold more then 10 plants"/>
    </appSettings>
</configuration>